.dialog-enter .transition {
  opacity: 0;
}

.dialog-enter.dialog-enter-active .transition {
  opacity: 1;
  transition: opacity .3s ease;
}

.dialog-leave .transiation{
  opacity: 1;
}

.dialog-leave.dialog-leave-active .transition {
  opacity: 0;
  transition: opacity .3s ease;
}
