.paper-divider {
  box-sizing: border-box;
  box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.156), 0 1.5px 0 0 rgba(0, 0, 0, 0.055);
}

.paper {
  box-sizing: border-box;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.156), 0 0 0 1.5px rgba(0, 0, 0, 0.055);
  background-color: #fdfdfd;
}

.paper1 {
  @extend .paper;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.paper2 {
  @extend .paper;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper3 {
  @extend .paper;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.paper4 {
  @extend .paper;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.paper5 {
  @extend .paper;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.padded {
  padding: 16px 24px;
}
