// applies to dialogs and menus

.popup-enter .transition {
  opacity: 0;
}

.popup-enter.popup-enter-active .transition {
  opacity: 1;
  transition: opacity .3s ease-out;
}

.popup-leave .transiation{
  opacity: 1;
}

.popup-leave.popup-leave-active .transition {
  opacity: 0;
  transition: opacity .3s ease-in;
}
