$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

@keyframes spinner-rotate{
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash{
  0%{
    stroke-dasharray: 1,400;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 211,400;
    stroke-dashoffset: -82;
  }
  100%{
    stroke-dasharray: 211,400;
    stroke-dashoffset: -294;
  }
}

@keyframes spinner-color{
  100%, 0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%, 90% {
    stroke: $yellow;
  }
}
